<!DOCTYPE html>

<body>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" type="text/css" href="stylo.css">*@
    <link href="/css/stylesheet.css" rel="stylesheet" />


    <title>Treino de Posteriores e Glúteo</title>
</head>

    <h1>Posteriores e Glúteo</h1>

    <li>

        Exercicio 1 (Stiff) <img id="borderimg1" src="~/miconv.com__stifff.jpg" />
        <ol>
            4 vezes de 12
        </ol>
    </li>
    <li>
        Exercicio 2 (Mesa flexora) <img id="borderimg1" src="~/mesa-flexora2.jpg" />
        <ol>
            4 vezes de 12
        </ol>

    </li>
    <li>
        Exercicio 3 (Cadeira flexora) <img id="borderimg1" src="~/cadeira-flexora.jpg" />

        <ol>
            4 vezes de 12
        </ol>

    </li>
    <li>
        Exercicio 4 (Agachamento Sumô) <img id="borderimg1" src="~/miconv.com__sumo.jpg" />
        <ol>
            1 vez de 12
            <br>sobe a carga
            <br>1 vez de 10
            <br>sobe a carga
            <br>1 vez de 8
            <br>sobe a carga
            <br>1 vez de 6

        </ol>
    </li>
    <li>
        Exercicio 5 (Coice gluteo) <img id="borderimg1" src="~/miconv.com__coicegluteo.jpg" />
        <ol>
            4 vezes de 12
        </ol>

    </li>
    <li>
        Exercicio 6 (Elevação pelvica) <img id="borderimg1" src="~/miconv.com__gluteo.jpg" />

        <ol>
            4 vezes de 12
        </ol>

    </li>


    <h2> Voltar pagina anterior </h2>
    <a href="/academia">
        <button class="button1">Voltar</button>
    </a>













 </body>
 
 </html>