<form>
    <div class="form-group">
        <label for="exampleInputNome">Nome do ALuno</label>
        <input type="text" class="form-control" id="exampleInputNome" aria-describedby="Nome" placeholder="Nome Completo">
        <small id="" class="form-text text-muted">Informe seu nome completo.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email">
        <small id="emailHelp" class="form-text text-muted">Informe seu email.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputTelefone">Telefone</label>
        <input type="number" class="form-control" id="exampleInputTelefone" placeholder="Digite seu Telefone">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>